
    <script src="/socket.io/socket.io.js"></script>

<script>
let socket=io()
socket.emit('join','adminRoom')

socket.on('orderPlaced',(data)=>{
console.log("order placed harshssss")

// use noty notification
window.location.reload();
})

</script>

<section id="dashboard">

    <table>
        <th>User id</th>
        <th>Renter id</th>       
    
      <th>VehicleName</th>  
      <th>VehicleNumber</th>
      <th>Duration</th>       
      <th>Bill</th>
      <th>Status</th>
      <th>Action</th>       
    
    
    
    
        <tbody id="test">
                    <% for (var i =0; i <order.length ;  i++ ) { %>
    
                    <tr>
                 <td><%= moment(order[i].createdAt).format('DD-MM-YYYY') %></td>
            <td><%= order[i].user_id %>  </td>
            <td><%= order[i].booked_vehicle.r_id %>  </td>
        <td> <%= order[i].booked_vehicle.VehicleName  %>  </td>
        <td> <%= order[i].booked_vehicle.VehicleNumber %>  </td>
        <td> <%= order[i].location %> </td>
        
        <td> <%= order[i].time %>  Days </td>
        <td> <%= order[i].bill%>  </td>
        <td> <%= order[i].status%>  </td>
        <td> <%= moment(order[i].createdAt).format('hh : mm ')%>  </td>
        
    
        <td >
    
            <form action="/updateStatus" method="post">
                <select value="" name="status" id=""  onchange="this.form.submit()" > 
                    <option name="dsd" hidden>Hidden option</option>
    
                    <option value="" disabled selected hidden>Please Choose...</option>
                    
                    <option >  Confirmed</optison>   
                        <option > Vehicle On The Way</option>            
                        <option > Order Recieved</option>            
                        <option > Completed</option>            
                     <input type="hidden" name="id" value=" <%= JSON.stringify(order[i]._id) %>" >
                     <input type="hidden" name="Vehicle" value=" <%= JSON.stringify(order[i].booked_vehicle._id) %>" >
    
                    </select>
                        </form>
    
    
            </td>
          
        </tr>   
            <% } %>   
    
    
            
        </tbody>
    </table>   
</section>
