
<section id="dashboard">

    <table>
        <tbody>
            
            <% data.forEach((vehicle) => { %>
            <tr>
                <td><%= vehicle.r_id%>  </td>
   
                <td><%= vehicle.VehicleName%>  </td>
                <td><%= vehicle.VehicleType%>  </td>
                <td><%= vehicle.VehicleCategory%>  </td>
                <td><%= vehicle.VehicleNumber%>  </td>
                <td><%= vehicle.booked%>  </td>

               <td><img src='<%=vehicle.image%>' > </img></td>
                <td><button><a href='/dashboard/delete/<%=vehicle._id%>'> Delete</a></button></td>   
                 
            </tr>
           
            <% }) %>
        </tbody>
    </table>   

</section>