<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Vehicle</title>
</head>
<body>
    <h1>Update Your Vehicle</h1>
    
    <form action="/update" method="post" >
        <input type="hidden" name="id" value="<%= JSON.stringify(data._id) %> "><br>
        <input type="text" name="VehicleName" value='<%= data.VehicleName %>'><br>
        <input type="text" name="VehicleType" value='<%= data.VehicleType %>'><br>
        <input type="text" name="model" value='<%= data.model %>' ><br>
        <input type="text" name="Fuel" value='<%= data.Fuel %>' ><br>
        <input type="text" name="Travelled" value='<%= data.Travelled %>'><br>
        <input type="text" name="Mileage" value='<%= data.Mileage %>'><br>
        
        <input type="number" name="VehicleNumber" value='<%= data.VehicleNumber %>'></br>
        <input type="file" name="image" >
           <input type="submit">
    </form>
</body>
</html>