<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Orders</title>
</head>
<body>
    <table>
        <th>Date </th>
                <th>
            Vehicle Name
        </th>
        <th>vehicle Type</th>
        <th>time </th>
        <th>bill</th>
        <th>owner Info</th>
        <th>status</th>
        <th>placed At</th>

       

        <tbody>
            
                <% for(var i=0; i<data['h'].length; i++) {%>
                   
                   
                   <tr>
                    <td> <%= moment(data['h'][i].createdAt).format('DD-MM-YYYY') %></td>

                       <td><%= data['a'][i].VehicleName %></td>
                       <td><%= data['a'][i].VehicleType %></td>
                       <td><%= data['h'][i].time %></td>
                        <td><%= data['h'][i].bill %></td>
                       <td><%= data['b'][i] %></td>
                       <td><%= data['h'][i].status %></td>
                        <td> <%= moment(data['h'][i].createdAt).format('hh : mm ') %></td>

                        <td><Button><a href="singelorder/<%=data['h'][i]._id %>"> See More</a></Button></td>
                    </tr>
                    <% } %>
        </tbody>
</body>
</html>