<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order</title>
</head>
<body>
    <h1>Order page </h1>
      <table>
          <tbody style="border:solid 5px">
              <th>VehicleName</th>
              <th>VehicleType</th>
             <th>VehicleCategory</th>
             <th>VehicleNumber</th>
             <th>image</th>
             <th>owner</th>

             <tr>
                 <td><%= data.VehicleName %></td>
                 <td><%= data.VehicleType %></td>
                 <td><%= data.model%>  </td>
                 <td><%= data.Travelled%>  </td>
                 <td><%= data.Mileage%>  </td>
                 <td><%= data.VehicleNumber %></td>
              <td><img src='<%=data.image%>' > </img></td>
                <td><%= owner.username %></td>

             </tr>
          </tbody>
      </table>
      <form action="/confirm-order"  id="divv" method="post">
        <% if (messages.error) { %>
            <span class="text-red-500 text-sm"><%= messages.error %></span>
        
          <% } %>
          <input type="hidden" name="vehicle" value="<%= JSON.stringify(data) %> ">
          <input type="date" name="start" placeholder="enter pickup date">
          <input type="date" name="end" placeholder="enter drop date">

           <textarea name="location" placeholder="Enter location">  </textarea>
          <input type="number" name="mobile" placeholder="Enter Your Mobile no">
           <input type="submit" value="confirm">
        </form>
    </body>
  

</html>