<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vehicles</title>
     <!-- <script src="/views/app.js"></script> -->
     <script type="module" src="./app.js"></script>
</head>
<body>
 <h1>Welcome choose vehicle from list</h1>
 <table>
     <tbody>
         <% data.forEach((vehicle) => { %>
         <tr>
             <td><%= vehicle.VehicleName%>  </td>
             <td><%= vehicle.VehicleType%>  </td>
             <td><%= vehicle.model%>  </td>
             <td><%= vehicle.Travelled%>  </td>
             <td><%= vehicle.Mileage%>  </td>
             <td><%= vehicle.VehicleNumber%>  </td>
            <td><img src='<%=vehicle.image%>' > </img></td>
         <td>   
             <form action="/order" method="post"> 
                   <input type="hidden" value="<%= JSON.stringify(vehicle) %>" name="vehicle" > 
                <input type="submit" data-vehicle="<%= JSON.stringify(vehicle) %>" >
                </form>
         </tr>
        
         <% }) %>
     </tbody>
 </table>   
</body>

</html>